<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>DIYGenie uses your device identifier to improve analytics and personalize content.</string>
	<key>NSCameraUsageDescription</key>
	<string>DIYGenie uses the camera to scan rooms and capture measurements.</string>
</dict>
</plist>
